<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leaderboard for PacMan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        <center><h1>Leaderboard for PacMan</h1></center>
        <h2>Search</h2>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" id="search-multi" placeholder="Search Player Name">
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h2>Single Player</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Player Name</th>
                  <th>High Score</th>
                </tr>
              </thead>
              <tbody>
                {% for player in data.single_player | sort(attribute='score', reverse=true) %}
                  <tr>
                    <td>{{ player.player_name }}</td>
                    <td>{{ player.score }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h2>Multi Player</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Player Name</th>
                  <th>High Score</th>
                </tr>
              </thead>
              <tbody>
                {% for player in data.multi_player | sort(attribute='score', reverse=true)  %}
                  <tr>
                    <td>{{ player.player_name }}</td>
                    <td>{{ player.score }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

     
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function() {
                    $('#search-single').keyup(function() {
                        var query = $(this).val();
                        if (query.length > 0) {
                            $('tbody tr').hide();
                            $('tbody tr:contains("' + query + '")').show();
                        } else {
                            $('tbody tr').show();
                        }
                    });
                    $('#search-multi').keyup(function() {
                        var query = $(this).val();
                        if (query.length > 0) {
                            $('tbody tr').hide();
                            $('tbody tr:contains("' + query + '")').show();
                        } else {
                            $('tbody tr').show();
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>